# Use container-based travis workers
sudo: false

language: generic

os:
  - linux
  - osx

env:
  - MYUSEMC=true MYPYTHON_VERSION=3.4
  - MYUSEMC=true MYPYTHON_VERSION=3.5
  - MYUSEMC=true MYPYTHON_VERSION=3.6
  - MYUSEMC=false

matrix:
  exclude:
    - os: linux
      env: MYUSEMC=false

git:
  depth: 999999

branches:
  except:
    - /^v[0-9]/

before_install:
  - MYNAME=diffpy.structure
  - umask 022
  - git fetch origin --tags
  - if ${MYUSEMC}; then
        NOBREW=true; NOMC=false;
        MYPIP=pip;
    else
        NOBREW=false; NOMC=true;
        MYPIP=pip3; MYPIPFLAGS="--user";
    fi
  - MYMCREPO=https://repo.continuum.io/miniconda
  - case ${TRAVIS_OS_NAME} in
    linux)
        MYMCBUNDLE=Miniconda3-latest-Linux-x86_64.sh ;;
    osx)
        MYMCBUNDLE=Miniconda3-latest-MacOSX-x86_64.sh ;;
    *)
        echo "Unsupported operating system." >&2;
        exit 2 ;;
    esac
  - MYRUNDIR=${PWD}/build/rundir

  - mkdir -p ~/pkgs/
  - mkdir -p ${MYRUNDIR}
  - cp .coveragerc ${MYRUNDIR}/

  - $NOMC || pushd ~/pkgs/
  - $NOMC || wget --timestamping ${MYMCREPO}/${MYMCBUNDLE}
  - $NOMC || test -x ~/mc/bin/conda || bash ${MYMCBUNDLE} -b -f -p ~/mc
  - $NOMC || popd
  - $NOMC || export PATH="${HOME}/mc/bin:${PATH}"

  # Avoid failure due to a bug in conda-build 2.1.6, 2.1.7,
  # see https://github.com/conda/conda-build/issues/1825.
  - $NOMC || echo 'conda-build ==2.1.5' | tee ~/mc/conda-meta/pinned

  - $NOMC || conda update --yes conda
  - $NOMC || conda install --yes conda-build jinja2
  - $NOMC || conda create --name=testenv --yes python=${MYPYTHON_VERSION} coverage
    # TODO - switch to the diffpy channel after release.
  - $NOMC || conda config --add channels diffpy/channel/dev

  - $NOBREW || test "${TRAVIS_OS_NAME}" = "osx" || exit $?
  - $NOBREW || brew update
  - $NOBREW || brew install python3
  - $NOBREW || brew tap homebrew/python
  - $NOBREW || brew install numpy --without-python --with-python3
  - $NOBREW || devutils/makesdist
  - $NOBREW || MYTARBUNDLE="$(ls -t "${PWD}"/dist/*.tar.gz | head -1)"

install:
  - $NOMC || conda build --python=${MYPYTHON_VERSION} --dirty conda-recipe
  - $NOMC || MYCONDATESTENV="$(ls -td ~/mc/conda-bld/${MYNAME}_*/_t_env | head -1)"
  - $NOMC || source activate ${MYCONDATESTENV:?"conda test environment not found"}
  - $NOMC || conda list  --export ${MYNAME} > /tmp/mypackage.txt
  - $NOMC || source activate testenv
  - $NOMC || conda install --yes --use-local --file=/tmp/mypackage.txt

  - $NOBREW || $MYPIP install $MYPIPFLAGS coverage
  # FIXME - remove explicit installation of PyCifRW after
  # pip integrates https://github.com/pypa/pip/pull/4254.
  - $NOBREW || $MYPIP install $MYPIPFLAGS 'https://pypi.python.org/packages/01/68/b75a924883f1b1b7b3c2d0c1fdc2cede03d255ce5287c4d9d8d17f6d517e/PyCifRW-4.2.1-py3.tar.gz#md5=3bc6b0d2f23b170546dc7c194bc2991c'
  - $NOBREW || $MYPIP install $MYPIPFLAGS "${MYTARBUNDLE}"

  - cd ${MYRUNDIR}
  - MYGIT_REV=$(python3 -c "import ${MYNAME}.version as v; print(v.__gitsha__)")
  - if [[ "${TRAVIS_COMMIT}" != "${MYGIT_REV}" ]]; then
        echo "Version mismatch ${TRAVIS_COMMIT} vs ${MYGIT_REV}.";
        exit 1;
    fi

before_script:
  - $NOBREW || USER_BASE="$(python3 -c 'import site; print(site.USER_BASE)')"
  - $NOBREW || PATH="${USER_BASE}/bin:${PATH}"

script:
  - coverage run --source ${MYNAME} -m ${MYNAME}.tests.run

after_success:
  - $MYPIP install $MYPIPFLAGS codecov
  - codecov
