graft src
graft tests
graft requirements

include AUTHORS.rst LICENSE*.rst README.rst

# Exclude all bytecode files and __pycache__ directories
global-exclude *.py[cod]  # Exclude all .pyc, .pyo, and .pyd files.
global-exclude .DS_Store  # Exclude Mac filesystem artifacts.
global-exclude __pycache__  # Exclude Python cache directories.
global-exclude .git*  # Exclude git files and directories.
global-exclude .idea  # Exclude PyCharm project settings.
